!!!! Frameset
%html
  %head
    %title Title
    %meta{http-equiv="Content-Type" content="text/html;charset=utf-8"}
  %body
    %img{src="$src" alt=""}
    %input{type="text" value="asdf"}
    %textarea
    %br
    end of file
