!!! 1.1
%html
  %head
    %title= $title
  %body
    %style{type="text/css"}
      <<<STYLE
body {
  height:100%;
  font-size:11px;
  margin-left:5%;
  margin-right:5%;
  background-color:white;
  color:black;
}
STYLE
    %tag= 'Some text'
